*{
    margin: 0;
    padding:0;
}
body{line-height: 1.8em;
font-family: Arial, Helvetica, sans-serif;
background:#292929;}

#skipnav a{
    position: absolute;
    clip: rect(0 0 0 0);
    border: 0;
    height: 1px; margin: -1px;
    overflow: hidden;
    padding: 0;
    width:1px;
    white-space:nowrap;
  }
  #skipnav a:focus {
    clip:auto;
    left:0;
    top:0;
    width:100%;
    height:auto;
    margin:0;
    padding:10px 0;
    background:#fff;
    border:1px solid blue;
    border-left:none;
    border-right:none;
    text-align:center;
    font-weight:bold;
    color:#000;
    z-index: 1;
  }


.container{
    display:grid;
    width: 100%;
height: 100vh;

grid-template-columns:1fr ;
    grid-template-rows:0.1fr 1fr 0.1fr;
    grid-template-areas: "nav" "main" "footer" ;}


nav{
    
    width: 100%;
    
    background-color: #292929;
    display:grid;
    place-items:start center;
    grid-area: nav;
    /* z-index: 2;
    position: -webkit-sticky;
    position: sticky; */
    top: 0;
   
}
.nav-wrapper{
    width: 90%;
    /* background-color: blueviolet; */
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    
    
}


.navbar{
    width: 200px;
    height:100%;
    background-color: rgb(255, 217, 0);
    position: fixed;
    top:0;
    left: -200px;
    display: flex;
    justify-content: center;
    border-radius: 0% 10% 30% 0%;
    transition: left .70s cubic-bezier(1, 0, 0, 1);
    z-index: 3;
 
    

}
.logo{
    align-content: center;
        display: flex;}

.logo:focus{
    outline:yellow solid 1px;  
    background-color: black;   
    
}
.logo:hover{
    outline:yellow solid 1px;  
    background-color: black; }  
    
.change{
    left: 0;
}

.nav-list
{display:none;
}
.change .nav-list
{display:block;
    text-align: left;
    font-size: 18px;
    position: absolute;
    top:20%;
}
.nav-item{
    list-style: none;
    margin: 25px;
 
}

.nav-link{
    color: black;
    text-decoration: none;
    
    padding: 3px;
 }
.nav-link:focus{
    outline:black solid 1px;
    background-color: rgb(255, 255, 255);

}                   
.nav-link:hover{
    outline:black solid 1px;
    background-color: rgb(255, 255, 255);

}
.hamburger-menu{
    
    width:44px;
    height:44px;
    background-color: #292929;
    cursor: pointer;
    display:none;
    flex-direction: column;
    justify-content: space-around;
    /* position: fixed;
     top: 3px;
    left: 50px; */
   border: none;
   z-index: 5;
   
}
.hamburger-menu:hover{
    outline: solid 1px yellow;
    background-color: black;
}
.hamburger-menu:focus{
    outline: solid 1px yellow;
    background-color: black;
}

.nav-list1{display: flex;}
.nav-item1{margin: 0px 10px 0px 0px;
    list-style: none;
 
}
#active{text-decoration: underline solid   2px ;
    
    font-weight: bold;
  
text-underline-offset: 1px;}

    .nav-link1{
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(255, 217, 0);
      
        
display: grid;
place-items: center;
        }

        .nav-link1:hover{
            outline:yellow solid 1px;
            outline-offset: 3px;
            background-color: rgb(255, 255, 255);
        
        }
        .nav-link1:focus{
            outline:yellow solid 1px;
            outline-offset: 3px;
            background-color: rgb(255, 255, 255);
        
        }

.line-1{
    width: 100%;
    height:4px;
    background-color:  white;
    transition: 0.7s;
    
}
.line-2{
    width: 70%;
    height:4px;
    background-color: white;
    transition: 0.7s;
}
.line-3{
    width: 40%;
    height: 4px;
    background-color:  white;
    transition: 0.7s;
} 

.change .line-1{
    
    transform: rotateZ(-45deg) translate(-11px,10px);
    color: rgb(255, 244, 209);
}
.change .line-2{
   opacity: 0;
}
.change .line-3{
    width: 100%;
    transform: rotateZ(45deg) translate(-11px,-10px);
    color: rgb(255, 244, 209);
}

main{color: white;
display:grid;

grid-template-columns:1fr ;
    grid-template-rows:1fr 4fr 4fr;
    grid-template-areas: "h1" "sec1" "sec2" ;}
/* h1{
    display: flex;
    justify-self: center;
    margin: 0 auto;
 
    /* margin: 0; */
    h1{
        display: flex;
    justify-self: center;
    align-self: center;
    line-height: 1.7em;
    }

.sec1{
    grid-area: sec1;
  margin-left: 38%;
  margin-top: 3%;
    
    /* margin-right: auto; */

}
.sec2{
    grid-area: sec2;
    margin-left: 38%;
    margin-top: 3%;
}

.sec1 h1{font-size: 30px;
    }
      .sec2 h1{font-size: 30px;}

.aa{margin-top:1%;
    font-size: 18px;}

    .ab{color: yellow;
    text-decoration: none;}
    .ab:hover{background-color: black;
        color:white;
    outline: yellow solid 1px;}
    .ab:focus{background-color: black;
        color:white;
        outline: yellow solid 1px;}


footer{
    grid-area:footer;
    width:100%;
height:100px;
min-height: 100px;

display: grid;
place-items:end center;}
.footer-wrapper{
    width: 90%;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#email{padding: 30px 50px;
background-color: rgb(255, 217, 0);
color: black;
font-size: 30px;
text-decoration: none;
font-weight: bold;

}
#email:focus{
    outline:yellow solid 1px;
    background-color: rgb(255, 255, 255);
    outline-offset: 3px;
}
#email:hover{
    outline:yellow solid 1px;
    background-color: rgb(255, 255, 255);
    outline-offset: 3px;
}

.linkedin{align-content: center;
display: flex;}

.linkedin:focus{
    outline:yellow solid 1px;
    outline-offset: 3px; 
    background-color: blue; }  
    
    .linkedin:hover{
        outline:yellow solid 1px;  
        background-color: blue; 
        outline-offset: 3px;}      
    


@media  (max-width: 1000px) {
    .container{
        display:grid;
        width: 100%;
        
   
    
    grid-template-columns:1fr ;
        grid-template-rows:0.1fr 1.5fr 0.1fr;
        grid-template-areas: "nav" "main" "footer" ;}
        
   
.nav-list1{display: none;}

.hamburger-menu{
    
    
    display:flex;
   
   
}

.sec1{
  margin-left: 28%;
}
.sec2{margin-left: 28%;
}
}

@media  (max-width: 600px) {
    .container{
        display:grid;
        width: 100%;
        height: 100vh;
    
    grid-template-columns:1fr ;
        grid-template-rows:0.1fr 1.5fr 0.1fr;
        grid-template-areas: "nav" "main" "footer" ;}
        
    
    span{font-size: 16px;}
    .sec1{
        margin-left: 15%;}
      .sec2{margin-left: 15%;
      }

      .sec1 h1{font-size: 22px;}
      .sec2 h1{font-size: 22px;}

    p{
        font-size: 16px;
    }
        #email{padding: 15px 20px;
            background-color: rgb(255, 217, 0);
            color: black;
            font-size: 20px;
            text-decoration: none;
            font-weight: bold;
            
            }
            .ken{width:400px}
            
}