*{
    margin: 0;
    padding:0;
}
body{line-height: 1.5em;
font-family: Segoe UI,Arial, Helvetica, sans-serif;
background:#292929;}
.container{
    display:grid;
    width: 100%;
height: 100vh;

grid-template-columns:1fr ;
    grid-template-rows:0.1fr 1fr 0.1fr;
    grid-template-areas: "nav" "main" "footer" ;}


nav{
    
    width: 100%;
    
    background-color: #292929;
    display:grid;
    place-items:start center;
    grid-area: nav;
    /* z-index: 2;
    position: -webkit-sticky;
    position: sticky; */
    top: 0;
   
}
.nav-wrapper{
    width: 90%;
    /* background-color: blueviolet; */
    position: relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    
}


.navbar{
    width: 300px;
    height:100%;
    background-color: rgb(255, 217, 0);
    position: fixed;
    top:0;
    left: -300px;
    display: flex;
    justify-content: center;
    border-radius: 0% 30% 30% 0%;
    transition: left .70s cubic-bezier(1, 0, 0, 1);
    z-index: 3;
 
    

}
.logo{
    align-content: center;
        display: flex;}

.logo:focus{
    outline:blue solid 3px;  
    background-color: black;   
    
}
.change{
    left: 0;
}

.nav-list
{display:none;
}
.change .nav-list
{display:block;
    text-align: left;
    font-size: 22px;
    position: absolute;
    top:20%;
}
.nav-item{
    list-style: none;
    margin: 25px;
 
}

.nav-link{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 3px;
    

}
.nav-link:focus{
    outline:blue solid 3px;
  
 

}                   
.nav-link:hover{
    outline: black solid 1px;
    
   
    background-color: rgb(255, 255, 255);

}
.hamburger-menu{
    
    width:44px;
    height:44px;
    background-color: #292929;
    cursor: pointer;
    display:none;
    flex-direction: column;
    justify-content: space-around;
    /* position: fixed;
     top: 3px;
    left: 50px; */
   border: none;
   z-index: 5;
   
}
.hamburger-menu:hover{
    outline: rgb(255, 255, 255) solid 3px;
    background-color: black;
   
}
.hamburger-menu:focus{
    outline: blue solid 3px;
    background-color: black;
    
    
   
}

.nav-list1{display: flex;}
.nav-item1{margin: 0px 10px 0px 0px;
    list-style: none;
 
}

    .nav-link1{
        color: black;
        text-decoration: none;
        letter-spacing: 1px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgb(255, 217, 0);
        border: #292929 3px solid;
        
display: grid;
place-items: center;
        }

        .nav-link1:hover{
            background-color: white;
            border: black 3px solid;
        }
        .nav-link1:focus{
            background-color: white;
            border: black 3px solid;
            outline: blue 3px solid;
            outline-offset: -3px;
        }

.line-1{
    width: 100%;
    height:4px;
    background-color:  white;
    transition: 0.7s;
    
}
.line-2{
    width: 70%;
    height:4px;
    background-color: white;
    transition: 0.7s;
}
.line-3{
    width: 40%;
    height: 4px;
    background-color:  white;
    transition: 0.7s;
} 

.change .line-1{
    
    transform: rotateZ(-45deg) translate(-11px,10px);
    color: rgb(255, 244, 209);
}
.change .line-2{
   opacity: 0;
}
.change .line-3{
    width: 100%;
    transform: rotateZ(45deg) translate(-11px,-10px);
    color: rgb(255, 244, 209);
}

main{color: white;
    display: grid;
    grid-template-columns:1fr ;
    grid-template-rows:0.1fr 1fr;
    grid-template-areas: "h1" "box1" ;
    /* min-height: 824px; */
    
}
h1{grid-area: h1;
    display: flex;
    justify-self: center;
    align-self: center;
    /* margin: 0; */


    }
.box1{display:flex;
    margin: 0;
    grid-area: box1;
    
align-items: center;
justify-content: space-evenly;
height: 100%;
margin-top: -5px;
/* min-height: 749px; */

}
.boxA{
    width: 600px;
    max-width: 90%;
    margin-top: -10px;
}
h2{font-size: 40px;
    margin-bottom: 20px;}
h3{font-size:30px;
    margin: 10px 0px 10px 0px;}
    span{font-size: 20px;
        
   }
    p{font-size: 20px;
        margin: 10px 0px;
        width:575px;
        max-width: 90%;
        line-height: 1.5em;
    }

footer{
    grid-area:footer;
    width:100%;
height:100px;
min-height: 100px;

display: grid;
place-items:end center;}
.footer-wrapper{
    width: 90%;
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}
#email{padding: 30px 50px;
background-color: rgb(255, 217, 0);
color: black;
font-size: 30px;
text-decoration: none;
font-weight: bold;

}
#email:focus{
    outline:blue solid 3px;  
    background-color: black;  
    color: white; 
    
}
#email:hover{
    outline:black solid 3px;  
    background-color: rgb(255, 255, 255);  
    color: rgb(0, 0, 0); 
    
}

.linkedin{align-content: center;
display: flex;}

.linkedin:focus{
    outline:blue solid 5px;  
    background-color: black;   
    
}

@media  (max-width: 1000px) {
    .container{
        display:grid;
        width: 100%;
        
   
    
    grid-template-columns:1fr ;
        grid-template-rows:0.1fr 1.5fr 0.1fr;
        grid-template-areas: "nav" "main" "footer" ;}
        .box1{display:grid;
            margin-top: 10px;
            grid-template-columns:1fr ;
        grid-template-rows:1fr 0.2fr;
        grid-template-areas: "ken" "boxA" ;
        place-items: center;
        margin-bottom: -50px;
          
    }
    h2{margin: 30px 0px;
     
    }
    h3{
        margin: 10px 0px 0px 0px;
    line-height: 1.5em;}
    .ken{grid-area: ken;
    margin: 10px 0px;}
    .boxA{grid-area: boxA;
        max-width: 90%;
        text-align: center;
       
    }
    p{line-height: 1.5em;
       text-align: left;
       margin-left: 25px;
   
}
.nav-list1{display: none;}

.hamburger-menu{
    
    
    display:flex;
   
   
}
}

@media  (max-width: 600px) {
    .container{
        display:grid;
        width: 100%;
        height: 100vh;
    
    grid-template-columns:1fr ;
        grid-template-rows:0.1fr 1.5fr 0.1fr;
        grid-template-areas: "nav" "main" "footer" ;}
        .box1{display:grid;
            margin-top: 0px;
            grid-template-columns:1fr ;
        grid-template-rows:1fr 0.2fr;
        grid-template-areas: "ken" "boxA" ;
        place-items: center;
        margin-bottom:-50px;
          
    }
    h1{font-size: 30px;
    min-height: none;}
    h2{margin: 10px 0px;
     font-size: 24px;
    }
    h3{
        margin: 10px 0px 0px 0px;
    line-height: 1.5em;
font-size: 18px;}
    .ken{grid-area: ken;
    margin:  0px;}
    .boxA{grid-area: boxA;
        width: 500px;
        max-width: 90%;
    }
    span{font-size: 16px;}

    p{line-height: 1.5em;
        font-size: 16px;
        
        max-width: 90%;}
        #email{padding: 15px 20px;
            background-color: rgb(255, 217, 0);
            color: black;
            font-size: 20px;
            text-decoration: none;
            font-weight: bold;
            
            }
            .ken{width:400px}
            
}